<template name="tweetsIndex">
  <h1>#happy</h1>
  <p>{{count}} tweets, {{geo_count}} with geo location data</p>
  <table class="table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Coordinates</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {{#each tweets}}
      <tr>
        <td>{{tweet_timestamp}}</td>
        <td>{{tweet_location.coordinates}}</td>
        <td>{{tweet_place.full_name}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
