// blue only
$color-base:   lighten(#0645ad, 20%);
$color-01:     darken($color-base, 30%);
$color-02:     darken($color-base, 15%);
$color-03:     $color-base;
$color-04:     lighten($color-base, 15%);
$color-05:     lighten($color-base, 30%);


$color-01:     darken(#ffd700, 15%);
$color-02:     #ffd700;
$color-03:     #cccccc;
$color-04:     lighten($color-base, 15%);
$color-05:     lighten($color-base, 30%);


.map {
  font-size: 10px;
  height: 660px;
  width: 740px;
  position: relative;
}

.point {
  width: 12px;
  height: 12px;
  border-style: solid;
  border-radius: 6px;
  position: absolute;
  text-indent: -9999px;
}

@for $x from 58 to 132 {
  .longitude-#{$x} {
    left: abs($x - 132) * 16px;
  }
}
@for $y from 22 to 55 {
  .latitude-#{$y} {
    top: abs($y - 55) * 16px;
  }
}

.mood-positive {
  border-color: lighten(#003366, 30%);
  color: blue;
}
.mood-negative {
  border-color: lighten(#003366, 10%);
  color: gold;
}

.mood-happier {
  border-color: $color-01;
}
.mood-happy {
  border-color: $color-02;
}
.mood-neutral {
  border-color: $color-03;
}
.mood-sad {
  border-color: $color-04;
}
.mood-sadder {
  border-color: $color-05;
}

.weight-strong {
  border-width: 3px;
}
.weight-normal {
  border-width: 2px;
}
.weight-light {
  border-width: 1px;
}
