.map {
  font-size: 10px;
  height: 740px;
  width: 660px;
  position: relative;
}

[class^="latitude"] {
  position: absolute;
}

@for $i from 22 to 55 {
  .latitude-#{$i} {
    left: ($i - 22) * 30px;
  }
}
@for $i from -132 to -58 {
  .longitude-#{$i} {
    top: ($i + 132) * 10px;
  }
}

.mood-positive {
  color: blue;
}
.mood-negative {
  color: gold;
}
