// blue only
$color-base:   lighten(#0645ad, 20%);
$color-01:     darken($color-base, 30%);
$color-02:     darken($color-base, 15%);
$color-03:     $color-base;
$color-04:     lighten($color-base, 15%);
$color-05:     lighten($color-base, 30%);


$color-01:     darken(#ffd700, 15%);
$color-02:     #ffd700;
$color-03:     #cccccc;
$color-04:     lighten($color-base, 15%);
$color-05:     lighten($color-base, 30%);

$point-width:     6px;
$point-padding:   1px;
$point:           $point-width + (2 * $point-padding);


.map {
  font-size: 10px;
  height: 66 * $point;
  margin-top: 50px;
  position: relative;
}

.point {
  width: $point-width;
  height: $point-width;
  border-style: solid;
  border-radius: $point-width / 2;
  position: absolute;
  text-indent: -9999px;
}

@for $x from 580 to 1320 {
  @if $x % 5 == 0 {
    .longitude-#{$x} {
      left: (abs($x - 1320) * $point) / 5;
    }
  }
}
@for $y from 220 to 550 {
  @if $y % 5 == 0 {
    .latitude-#{$y} {
      top: (abs($y - 550) * $point) / 5;
    }
  }
}

.mood-positive {
  border-color: lighten(#003366, 30%);
  color: blue;
}
.mood-negative {
  border-color: lighten(#003366, 10%);
  color: gold;
}

.mood-happier {
  border-color: $color-01;
}
.mood-happy {
  border-color: $color-02;
}
.mood-neutral {
  border-color: $color-03;
}
.mood-sad {
  border-color: $color-04;
}
.mood-sadder {
  border-color: $color-05;
}

.weight-strong {
  border-width: 3px;
}
.weight-normal {
  border-width: 1.5px;
}
.weight-light {
  border-width: 1px;
}
